<div>
    <h2>Title:{{book.name}} </h2>
    <h3>Author:{{book.author}}</h3>
    <h3>Publisher:{{book.publisher}}</h3>
    <div>
        <form action="/follow/book/{{user.id}}" method="post">
            <input type="hidden" name="book" value="{{book.id}}">
            <h4>by: {{user.name}} <input type="submit" class="btn btn-success" value="follow"> </h4>
        </form>
    </div>
    <h4>Catagories:</h4>
    {{#each bookCategories}}
        <button disabled="disabled" class="btn btn-success">{{this.name}}</button>
    {{/each}}
    <br>
    {{#if check }}
        <h4>Add a catagories</h4>
        <form action="/category/add/{{book.id}}" method="post">
            <select name="name">
                {{#each categories}}
                    <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
            </select>
            <input type="submit" class="btn btn-success" value="add">
        </form>
    {{/if}}
    <br>
    <div id="main">
        <div id="prev" onclick="Book.prevPage();" class="btn btn-warning">PREVIOUS</div>
        <div id="next" onclick="Book.nextPage();" class="btn btn-success">NEXT</div>
        <div id="area"></div>

    </div>
    <script src="/js/zip.min.js"></script>
    <script src="/js/epub.js"></script>
    <script>
        var Book = ePub(".{{uri}}");
        Book.renderTo("area");
    </script>
</div>